<footer>
    <div class="footer-content" role="contentinfo">
        <div class="contact-info" aria-labelledby="contact-heading">
            <p id="contact-heading">Contact Us</p>
            <p>Email: <a href="mailto:support@roadmates.com">supportroadmates.com</a></p>
            <p>Phone: <a href="tel:+12345678901">+123 4567 8901</a></p>
        </div>
        <div class="about-info" aria-labelledby="about-heading">
            <p id="about-heading">About</p>
            <p>Learn more about our mission to make commuting easier and more eco-friendly.</p>
        </div>
        <div class="social-media" aria-labelledby="social-heading">
            <p id="social-heading">Follow Us</p>
            <div class="social-icons">
                <a href="#" aria-label="Facebook"><img src="facebook.png" alt="Facebook"></a>
                <a href="#" aria-label="Twitter"><img src="twitter.png" alt="Twitter"></a>
                <a href="#" aria-label="Instagram"><img src="instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </div>
</footer>